<body class="bg-info d-flex justify-content-center align-items-center vh-100">
  <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 35rem">
    <div class="text-center fs-1 fw-bold hipervinculo2" style="color: #333;">AdminProject</div>
    <div class="text-center col s12 mt-4">
      <p style="margin-bottom: 20px;">Optimiza la administración de proyectos con nuestra plataforma centralizada y eficiente.</p>
      <!-- Aquí puedes agregar tu resumen breve -->
    </div>

    <div class="input-field col s12 mt-3 text-center">
      <button routerLink="/seguridad/login" class="btn btn-info text-white w-100 fw-semibold shadow-sm boton-azul accent-4">
        Ingresar
      </button>
    </div>
  </div>
</body>

