.boton-azul{
  background-color: rgb(0, 162, 255);
}
.show-errors{
  color: #ff0000;
}
.hipervinculo{
 color: #4644ecbb;
 font-style: italic;
 font-weight: bold;
}
.hipervinculo2{
 color: #000000;
 font-weight: bold;
}

