<div class="desktop-container ">
  <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar por nombre">
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Columna de id -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Columna de nombre_esquema -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre  </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

      <ng-container matColumnDef="celular">
        <th mat-header-cell *matHeaderCellDef> celular </th>
        <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="obs">
        <th mat-header-cell *matHeaderCellDef> obs </th>
        <td mat-cell *matCellDef="let element"> {{element.obs}} </td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef> usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
      </ng-container>

      <ng-container matColumnDef="clave">
        <th mat-header-cell *matHeaderCellDef> clave </th>
        <td mat-cell *matCellDef="let element"> {{element.clave}} </td>
      </ng-container>





      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" class=" colorfondo"></mat-paginator>
  </div>
