
<!--Navbar bootstrap5-->
<!--




<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

-->


<nav class="blue">
  <div class="nav-wrapper">
    <a routerLink="/inicio" class="brand-logo">AdminProject</a>
    <a *ngIf="sesionActiva" href="" class="sidenav-trigger" data-target="nav-mobile">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="sesionActiva">
        <a class="dropdown-trigger" href="#!" data-target="dropdown1">Esquemas<i class="material-icons right">arrow_drop_down</i></a>
        <ul id="dropdown1" class="dropdown-content">
          <li><a routerLink="/parametros/listar-esquemas">Listar Esquemas</a></li>
          <li><a routerLink="/parametros/crear-esquemas">Crear Esquema</a></li>
        </ul>
      </li>
      <li *ngIf="sesionActiva">
        <a class="dropdown-trigger" href="#!" data-target="dropdown2">Usuarios<i class="material-icons right">arrow_drop_down</i></a>
        <ul id="dropdown2" class="dropdown-content">
          <li><a routerLink="/parametros/listar-usuarios">Listar Usuarios</a></li>
          <li><a routerLink="/parametros/crear-usuarios">Crear Usuarios</a></li>
        </ul>
      </li>
      <li *ngIf="sesionActiva"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>
    </ul>
  </div>
</nav>

<ul *ngIf="sesionActiva" id="nav-mobile" class="sidenav">
  <!--<li><a routerLink="/seguridad/login">Login</a></li>-->
  <!--<li><a routerLink="/seguridad/recuperar-clave">Cambiar clave</a></li>-->



  <ul class="collapsible">




    <li *ngIf="sesionActiva">
      <div class="collapsible-header"><i class="material-icons">cloud</i>Esquemas</div>

      <div class="collapsible-body center" *ngIf="sesionActiva">
        <a routerLink="/parametros/crear-esquemas">
          <i class="material-icons">add</i>
           Agregar Esquemas
        </a>
      </div>
      <div class="collapsible-body center" *ngIf="sesionActiva">
        <a routerLink="/parametros/listar-esquemas">
          <i class="material-icons">format_list_bulleted</i>
           Mostrar Esquemas
        </a>
      </div>
    </li>
    <li *ngIf="sesionActiva">
      <div class="collapsible-header"><i class="material-icons">people</i>Usuarios</div>

      <div class="collapsible-body center" *ngIf="sesionActiva">
        <a routerLink="/parametros/crear-usuarios">
          <i class="material-icons">add</i>
           Agregar Usuarios
        </a>
      </div>
      <div class="collapsible-body center" *ngIf="sesionActiva">
        <a routerLink="/parametros/listar-usuarios">
          <i class="material-icons">format_list_bulleted</i>
           Mostrar Usuarios
        </a>
      </div>
    </li>

    <div class="bottom-menu-items">
      <li *ngIf="sesionActiva">
        <a routerLink="/inicio" class="">
          <i class="material-icons">home</i>Inicio
        </a>
      </li>

      <li *ngIf="sesionActiva">
        <a routerLink="/seguridad/cerrar-sesion" class="">
          <i class="material-icons">lock</i>Cerrar Sesion
        </a>
      </li>
    </div>



</ul>





<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();

  });



</script>








