<form [formGroup]="usuarioForm" >
  <label>
    ID:
    <input type="text" formControlName="id">
  </label>
  <label>
    Nombre:
    <input type="text" formControlName="nombre">
  </label>
  <label>
    Teléfono:
    <input type="text" formControlName="telefono">
  </label>
  <label>
    Celular:
    <input type="text" formControlName="celular">
  </label>
  <label>
    Email:
    <input type="text" formControlName="email">
  </label>
  <label>
    Estado:
    <input type="text" formControlName="estado">
  </label>
  <label>
    Observaciones:
    <input type="text" formControlName="obs">
  </label>
  <label>
    Usuario:
    <input type="text" formControlName="usuario">
  </label>
  <label>
    Clave:
    <input type="password" formControlName="clave">
  </label>
  <button type="submit">Actualizar</button>
</form>
