<div class="desktop-container ">
<input matInput (keyup)="applyFilter($event)" placeholder="Filtrar por nombre">
<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Columna de id -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Columna de nombre_esquema -->
    <ng-container matColumnDef="nombre_esquema">
      <th mat-header-cell *matHeaderCellDef> Nombre Esquema </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_esquema}} </td>
    </ng-container>

    <ng-container matColumnDef="usename">
      <th mat-header-cell *matHeaderCellDef> Usename </th>
      <td mat-cell *matCellDef="let element"> {{element.usename}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" class=" colorfondo"></mat-paginator>
</div>
